---
import { getAlbumImages } from "../../utils/albums";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Navigation from "/src/components/Navigation.astro";

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<Navigation />

<div class="text-center my-16 mb-32">
  <h1 class="text-5xl font-bold">
    {album.data.title}
  </h1>
  <p class="text-xl my-4">
    {album.data.description}
  </p>

  <div
    class="mx-auto container my-8 sm:columns-2 md:columns-2 lg:columns-3 xl:columns-4"
  >
    {
      images.map((image) => (
        <Image
          src={image}
          alt={`Image from ${album.data.title} album`}
          format="avif"
          quality={50}
          class="rounded mb-4 border border-transparent hover:border-gray-300 transition-all duration-300 ease-in-out hover:shadow-lg"
          loading="lazy"
          width="512"
        />
      ))
    }
  </div>

</div>