---
import { Image } from "astro:assets";

import BaseLayout from "/src/layouts/BaseLayout.astro";

import profileImage from "./src/pages/profile-pic.jpg";
---

<BaseLayout title="Home page">
	<div
		class="hero h-full flex-grow"
		style="background-image: url(/src/content/albums/food/web-nova-59.jpg);"
	>
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="avatar">
				<div
					class="rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
				>
					<Image
						src={profileImage}
						class="max-w-sm rounded-lg shadow-2xl"
						alt="Profile image of Cody Meadows, photographer"
					/>
				</div>
			</div>
			<div class="max-w-md text-white">
				<h1 class="mb-5 text-5xl font-bold">Hello there</h1>
				<p class="mb-5">
					This site is currently a work-in-progress.
				</p>
			</div>
		</div>
	</div>
</BaseLayout>
